/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #222;
}

/* Header */
header {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 1.5em;
  font-size: 2em;
  font-weight: bold;
}

/* Navigation */
nav {
  background-color: #0059b3;
  text-align: center;
  padding: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 1em;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Section Common Styling */
section {
  padding: 60px 20px;
  text-align: center;
  font-size: 1.1em;
  border-bottom: 2px solid #ccc;
}


#intro {
  background: url('paris.jpg') no-repeat center center/cover;
  color: rgb(164, 40, 40);
  background-attachment: fixed;
}


#culture {
  background: linear-gradient(to right, #ffcc66, #ff9966);
  color: #222;
}


#food {
  background: radial-gradient(circle, #fff5cc, #ffcc99);
  color: #333;
}


#places {
  background: url('eiffel.jpg') no-repeat center center/cover;
  background-attachment: fixed;
  color: rgb(178, 49, 49);
}

/* Headings */
h2 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

/* Paragraphs */
p {
  width: 80%;
  margin: 0 auto;
  font-size: 1em;
  font-weight: 400;
}

/* Footer */
footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 1em;
  font-size: 0.9em;
}
